.CarDetailsContainer0 {
  align-items: center;
  height: 100vh;
  width: 99.5vw;
  background-color: whitesmoke;
}

.CarDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 99.5vw;
  background-color: whitesmoke;
}

.CarHero {
  justify-content: center;
  /* align-items: center; */
  flex: 0.5;
  padding-left: 5vw;
  bottom: 500vh;
}

.CarHeroImage {
  justify-content: center;
  align-items: center;
  flex: 0.5;
  height: 50vh;
}

.CarInfoSection1 {
  flex: 0.5;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.CarInfoSection2 {
  padding-left: 31vw;
  background-color: #2196f5;
  margin-top: -3vh;
}

.CarInfoSection2 h3 {
  font-size: 55px;
  text-align: left;
  justify-content: left;
  color: whitesmoke;
}

/* Media Query for screens with a maximum width of 1000px */
@media (max-width: 1000px) {
  .CarDetailsContainer {
    flex-direction: column;
  }

  .CarHero {
    padding: 0;
  }
  .CarDetailsContainer0 {
    height: 50vh;
  }

  .CarHeroImage {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .CarInfoSection1 {
    display: none;
  }

  .CarInfoSection2 {
    padding: 2vh;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .CarInfoSection2 h3 {
    font-size: 30px;
  }
}
