.admin-panel-container {
    display: flex;
    height: 100vh;
    width: 95vw;
  }
  
  .sidebar {
    width: 20%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 2vw;
  }
  
  .sidebar-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-li {
    text-align: left;
    margin-bottom: 2vh;
    height: calc(100% / 4);
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .sidebar-li:hover {
    cursor: pointer;
    background-color: white;
    width: 100%;
  }

  .admin-form-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }