.users-table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 50px;
  }
  
  .users-table th,
  .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .users-table th {
    background-color: #eee;
  }
  
  .users-table tr.odd {
    background-color: #f2f2f2;
  }
  
  .users-table tr.even {
    background-color: #ffffff;
  }
  