.Landing {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

  }
  

  main {
    background-color: whitesmoke;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    height: 65vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-text {
    flex: 1;
    max-width: 500px;
    padding-right: 5%;
  }
  
  .hero-text h2 {
    font-size: 3vw;
    margin-bottom: 2%;
  }
  
  .hero-text p {
    font-size: 1.5vw;
    margin-bottom: 4%;
  }
  
  #hero-image {
    padding-left:2.5%;
    width: 50%;
    flex-shrink: 1;
  }
  
  .features {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    width: 15vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feature h3 {

    margin-bottom: 1%;
  }
  
  .feature p {
    text-align: center;
  }
  
 
  .cars-text{
    color: #2196f5;
    font-size: larger;
  }


  
  .banner {
    background-color: whitesmoke;
    width: 100%;
    overflow: hidden;
  }
  .slids-container{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .slides {
    display: flex;
    width: 100%;
    animation: bannermove 16s linear infinite;
  }
  
  
  .slide {
    width: 100%;
  }
  
  .images {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  .image {
    height: 8vh;
    padding-right: 6vw;
    padding-left: 6vw;
  }
  
  .CardSection h3{
    padding-top: 5vh;
    margin-bottom: 50px;
  }

  .ThreeCards{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  .CardSection{
    background-color: white;
    width: 100vw;
  }
  .Card{
    padding: 1vw;
  }
  .CardImage:hover{
    background-color: #4ba8f4;
  }
  .Card h4{
    font-size: 1.5vw;
    text-align: center;
  }

  .Card p{
    font-size: 1vw;
    text-align: center;
  }

  .CardImage{
    height: 12.5vh;
    padding: 1vw;
    border-radius: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
  
  @keyframes bannermove {
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-50%);
    }
  }
